section.slide.row
	h2.slide--title Акции
	.slide--col.col-sm-6
		.slide--item
			img.slide--img(src="blocks/slide/img/1.jpg", alt="Изображение для акции")
			.slide--title Подарочный сертификат на фотосессию
			.slide--date 18.11.2016
			a.slide--link(href="#")
	.slide--col.col-sm-6
		.slide--item.slide--item-another
			img.slide--img(src="blocks/slide/img/2.jpg", alt="Изображение для акции")
			.slide--title Перед показом
			.slide--date 02.04.2015
			.slide--text.
				Красотки, у нас для вас приятная новость!
				Новая акция — «ПЕРЕД ПОКАЗОМ»!
				Почувствуй себя звездой в шикарных платьях от Boutique RAI (размеры S/M)! Стоимость участия всего 1499 руб!
				Только 2 и 3 апреля. Количество мест ограничено. Все подробности по тел. 421-55-88 или в л.с. Marya Korovina
			a.slide--link(href="#")
	.slide--col.col-sm-6
		.slide--item
			img.slide--img(src="blocks/slide/img/3.jpg", alt="Изображение для акции")
			.slide--title Новый проект «InBeauty»!
			.slide--date 18.11.2016
			a.slide--link(href="#")
	.slide--col.col-sm-6
		.slide--item.slide--item-past
			img.slide--img(src="blocks/slide/img/4.jpg", alt="Изображение для акции")
			.slide--title Проект «Bikini»
			.slide--date Прошедшая акция
			a.slide--link(href="#")
	.slide--pagination
		a.slide--prev(href="")
		.slide--number 1
		.slide--number.slide--number-active 2
		.slide--number 3
		a.slide--next(href="")