main.contacts.layout--contacts.col-sm-5.col-md-4.js-animate.fadeIn(data-wow-offset="100")
	h2.contacts--title Контакты
	.contacts--item
		.contacts--itemTitle Телефон
		.contacts--text 8 831 421 55 88
		.contacts--text +7 920 018 55 88
	.contacts--item
		.contacts--itemTitle Адрес
		.contacts--text 603115 Н.Новгород, Студеная 68А
	.contacts--item
		.contacts--itemTitle Время работы
		.contacts--text пн. - пт. 10:00 - 19:00
	.contacts--item
		.contacts--itemTitle Электронная почта
		a(href="mailto:admin@100pcent.ru").contacts--email.contacts--text.contacts--text-border admin@100pcent.ru
	.contacts--item
		.contacts--itemTitle Следите за нами в социальных сетях
		a.contacts--link(href="https://www.instagram.com/100art_photography/")
		a.contacts--link(href="https://www.facebook.com/100photoart")
		a.contacts--link(href="https://vk.com/image.group.studio")
