.price.js-animate.fadeIn(data-wow-offset="100")
	h2.price--title Прайс-лист
	.price--row.row
		.price--service Час съемки
		.price--cost 1000 &#8381;
	.price--row.row
		.price--service Ретушь
		.price--cost 1000 &#8381;
	.price--row.row.price--row-noBorder
		.price--service Визажист
		.price--cost 1000 &#8381;

	//Begin button
	include ../button/button.jade
	//End button