.gallery.js-gallery.row.layout--gallery
	.gallery--col.col-xs-6.col-sm-3.js-animate.fadeIn(data-wow-offset="100")
		a(href="blocks/gallery/img/1.jpg") 
			img.gallery--img(src="blocks/gallery/img/1.jpg", alt="Фотография")
		a(href="blocks/gallery/img/2.jpg")
			img.gallery--img(src="blocks/gallery/img/2.jpg", alt="Фотография")
		a(href="blocks/gallery/img/3.jpg")
			img.gallery--img(src="blocks/gallery/img/3.jpg", alt="Фотография")
	.gallery--col.col-xs-6.col-sm-3.js-animate.fadeIn(data-wow-offset="100" data-wow-delay="0.2s")
		a(href="blocks/gallery/img/4.jpg")
			img.gallery--img(src="blocks/gallery/img/4.jpg", alt="Фотография")
		a(href="blocks/gallery/img/5.jpg")
			img.gallery--img(src="blocks/gallery/img/5.jpg", alt="Фотография")
		a(href="blocks/gallery/img/6.jpg")
			img.gallery--img(src="blocks/gallery/img/6.jpg", alt="Фотография")
	.gallery--col.col-xs-6.col-sm-3.js-animate.fadeIn(data-wow-offset="100" data-wow-delay="0.4s")
		a(href="blocks/gallery/img/7.jpg")
			img.gallery--img(src="blocks/gallery/img/7.jpg", alt="Фотография")
		a(href="blocks/gallery/img/8.jpg")
			img.gallery--img(src="blocks/gallery/img/8.jpg", alt="Фотография")
		a(href="blocks/gallery/img/9.jpg")
			img.gallery--img(src="blocks/gallery/img/9.jpg", alt="Фотография")
	.gallery--col.col-xs-6.col-sm-3.js-animate.fadeIn(data-wow-offset="100" data-wow-delay="0.6s")
		a(href="blocks/gallery/img/10.jpg")
			img.gallery--img(src="blocks/gallery/img/10.jpg", alt="Фотография")
		a(href="blocks/gallery/img/11.jpg")
			img.gallery--img(src="blocks/gallery/img/11.jpg", alt="Фотография")
		a(href="blocks/gallery/img/12.jpg")
			img.gallery--img(src="blocks/gallery/img/12.jpg", alt="Фотография")