.gallery.row
	.gallery--col.col-xs-6.col-sm-3
		img.gallery--img(src="blocks/gallery/img/1.jpg", alt="Фотография")
		img.gallery--img(src="blocks/gallery/img/2.jpg", alt="Фотография")
		img.gallery--img(src="blocks/gallery/img/3.jpg", alt="Фотография")
	.gallery--col.col-xs-6.col-sm-3
		img.gallery--img(src="blocks/gallery/img/4.jpg", alt="Фотография")
		img.gallery--img(src="blocks/gallery/img/5.jpg", alt="Фотография")
		img.gallery--img(src="blocks/gallery/img/6.jpg", alt="Фотография")
	.gallery--col.col-xs-6.col-sm-3
		img.gallery--img(src="blocks/gallery/img/7.jpg", alt="Фотография")
		img.gallery--img(src="blocks/gallery/img/8.jpg", alt="Фотография")
		img.gallery--img(src="blocks/gallery/img/9.jpg", alt="Фотография")
	.gallery--col.col-xs-6.col-sm-3
		img.gallery--img(src="blocks/gallery/img/10.jpg", alt="Фотография")
		img.gallery--img(src="blocks/gallery/img/11.jpg", alt="Фотография")
		img.gallery--img(src="blocks/gallery/img/12.jpg", alt="Фотография")