.sliderPreview.js-sliderPreview.layout--sliderPreview.js-animate.fadeIn(data-wow-offset="100")
	.sliderPreview--slider.js-sliderPreview--slider
		img.sliderPreview--img(src="blocks/sliderPreview/img/slide_1.jpg", alt="Слайд")
		img.sliderPreview--img(src="blocks/sliderPreview/img/slide_1.jpg", alt="Слайд")
		img.sliderPreview--img(src="blocks/sliderPreview/img/slide_1.jpg", alt="Слайд")
		img.sliderPreview--img(src="blocks/sliderPreview/img/slide_1.jpg", alt="Слайд")
		img.sliderPreview--img(src="blocks/sliderPreview/img/slide_1.jpg", alt="Слайд")
	.sliderPreview--nav.js-sliderPreview--nav
		.sliderPreview--item.col-sm-4
			img.sliderPreview--img(src="blocks/sliderPreview/img/slide_1.jpg", alt="Слайд")
		.sliderPreview--item.col-sm-4
			img.sliderPreview--img(src="blocks/sliderPreview/img/slide_1.jpg", alt="Слайд")
		.sliderPreview--item.col-sm-4
			img.sliderPreview--img(src="blocks/sliderPreview/img/slide_1.jpg", alt="Слайд")
		.sliderPreview--item.col-sm-4
			img.sliderPreview--img(src="blocks/sliderPreview/img/slide_1.jpg", alt="Слайд")
		.sliderPreview--item.col-sm-4
			img.sliderPreview--img(src="blocks/sliderPreview/img/slide_1.jpg", alt="Слайд")
	