doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="shortcut icon" href="")
		title Photo and design studio
		link(rel="stylesheet", href="global/styles/style.css")
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	body
		.layoutFluid.layoutMain
			.layoutContent
		
				//Begin header
				include blocks/header/header.jade
				//End header
			
				.layout
			
					//Begin breadcrumbs
					include blocks/breadcrumbs/breadcrumbs.jade
					//End breadcrumbs
			
					//Begin main
					include blocks/main/main.jade
					//End main
				
				//Begin section
				include blocks/section/section.jade
				//End section
			
				//Begin button
				include blocks/button/button.jade
				//End button
				
			//Begin footer
			include blocks/footer/footer.jade
			//End footer
			
		//Scripts
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
		script(src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")
		script(src="blocks/slider/slick.js")