.header {
	font-size: 0.8rem;
	color: $color_2;
	//
	&--row_1 {
		text-align: center;
		//
		@media (min-width: 1216px) {
			height: 41px;
			overflow: hidden;
		}
	}
	//
	&--social,
	&--contacts,
	&--menu {
		padding: 5px 0;
		@media (min-width: 1216px) {
			padding: 0;
			line-height: 41px;
		}
	}
	//
	&--social {
		z-index: 100;
		//
		@media (min-width: $xs) and (max-width: $sm - 1) {
			float: left;
			width: 30%;
			padding-top: 30px;
		}
		@media (min-width: $sm) {
			text-align: left;
			line-height: 41px;
		}
	}
	//
	&--contacts {
		//
		@media (min-width: $xs) and (max-width: $sm - 1) {
			float: left;
			width: 70%;
		}
		@media (min-width: 1216px) {
			padding: 0;
			line-height: 41px;
		}
	}
	//
	&--menu {
		//
		@media (min-width: $sm) {
			text-align: right;
			padding: 0;
			line-height: 41px;
		}
	}
	//
	&--socialLink_1 {
		display: inline-block;
		width: 16px;
		height: 16px;
		margin-right: 29px;
		background: url(../img/sprite.png) no-repeat;
		//
		&:hover {
			background-position: 0 -17px;
		}
	}
	//
	&--socialLink_2 {
		@extend .header--socialLink_1;
		width: 8px;
		background-position: -17px 0;
		//
		&:hover {
			background-position: -17px -17px;
		}
	}
	//
	&--socialLink_3 {
		@extend .header--socialLink_1;
		width: 22px;
		height: 12px;
		background-position: -27px 0;
		//
		&:hover {
			background-position: -27px -17px;
		}
	}
	//
	&--contactsItem_1 {
		//
		&::before {
			content: '';
			position: relative;
			top: 2px;
			left: -8px;
			display: inline-block;
			width: 10px;
			height: 16px;
			background: url(../img/sprite.png) no-repeat -49px 0;
		}
		//
		@media (min-width: $xs) {
			margin-right: 30px;
			display: inline-block;
		}
		@media (min-width: $xl) {
			margin-right: 66px;
			//
			&::after {
				content: '|';
				position: relative;
				right: -30px;
				font-size: 18px;
				color: #2c2c2c;
			}
		}
	}
	//
	&--contactsItem_2 {
		@extend .header--contactsItem_1;
		//
		&::before {
			content: '';
			position: relative;
			top: -0.5px;
			left: -8px;
			display: inline-block;
			width: 15px;
			height: 9px;
			background: url(../img/sprite.png) no-repeat -60px 0;
		}
	}
	//
	&--contactsItem_3 {
		@extend .header--contactsItem_1;
		//
		&::before {
			content: '';
			position: relative;
			top: 2px;
			left: -8px;
			display: inline-block;
			width: 12px;
			height: 12px;
			background: url(../img/sprite.png) no-repeat -75px 0;
		}
		//
		&::after {
			content: '';
		}
		//
		@media (min-width: $lg) {
			margin-right: 0;
		}
	}
	//
	&--menuItem {
		display: inline-block;
		color: $color_2 !important;
		transition: 0.3s;
		padding: 0 10px;
		text-align: center;
		background: #2c2c2c;
		//
		&:hover {
			background: $color_4;
			color: $color_1 !important;
		}
		//
		@media (min-width: 1255px) {
			height: 41px;
		}
		@media (min-width: $xl) {
			width: 180px;
		}
	}
	//
	&--row_2 {
		position: relative;
		padding: 13px 0 23px 0;
	}
	//
	&--logo {
		text-align: center;
		//
		@media (min-width: $sm) {
			padding: 0 !important;
			text-align: left;
		}
		//
		@media (min-width: $sm) {
			position: absolute;
			top: 0;
		}
	}
	//
	&--logoImg {
		margin-left: -5px;
		margin-right: 10px;
	}
	//
	&--logoTitle {
		position: relative;
		top: 5px;
		display: inline-block;
		font-size: 14px;
		color: #3d3d3d;
	}
}