.header {
	font-size: 0.8rem;
	color: $color_2;
	text-align: center;
	//
	@media (min-width: 1216px) {
		height: 41px;
		overflow: hidden;
	}
	//
	&--social,
	&--contacts,
	&--menu {
		padding: 5px 0;
		@media (min-width: 1216px) {
			padding: 0;
			line-height: 41px;
		}
	}
	//
	&--social {
		z-index: 100;
		//
		@media #{$xs} and (max-width: 767px) {
			float: left;
			width: 30%;
			padding-top: 30px;
		}
		@media #{$sm} {
			text-align: left;
			line-height: 41px;
		}
	}
	//
	&--contacts {
		//
		@media #{$xs} and (max-width: 767px) {
			float: left;
			width: 70%;
		}
		@media (min-width: 1216px) {
			padding: 0;
			line-height: 41px;
		}
	}
	//
	&--menu {
		//
		@media #{$sm} {
			text-align: right;
			padding: 0;
			line-height: 41px;
		}
	}
	//
	&--socialLink_1 {
		display: inline-block;
		width: 16px;
		height: 16px;
		margin-right: 29px;
		background: url(../img/sprite.png) no-repeat;
		//
		&:hover {
			background-position: 0 -16px;
		}
	}
	//
	&--socialLink_2 {
		@extend .header--socialLink_1;
		width: 8px;
		background-position: -16px 0;
		//
		&:hover {
			background-position: -16px -16px;
		}
	}
	//
	&--socialLink_3 {
		@extend .header--socialLink_1;
		width: 22px;
		height: 12px;
		background-position: -24px 0;
		//
		&:hover {
			background-position: -24px -16px;
		}
	}
	//
	&--contactsItem_1 {
		//
		&::before {
			content: '';
			position: relative;
			top: 2px;
			left: -8px;
			display: inline-block;
			width: 10px;
			height: 16px;
			background: url(../img/sprite.png) no-repeat -46px 0;
		}
		//
		@media #{$xs} {
			margin-right: 30px;
			display: inline-block;
		}
		@media #{$xl} {
			margin-right: 66px;
			//
			&::after {
				content: '|';
				position: relative;
				right: -30px;
				font-size: 18px;
				color: #2c2c2c;
			}
		}
	}
	//
	&--contactsItem_2 {
		@extend .header--contactsItem_1;
		//
		&::before {
			content: '';
			position: relative;
			top: -0.5px;
			left: -8px;
			display: inline-block;
			width: 15px;
			height: 9px;
			background: url(../img/sprite.png) no-repeat -56px 0;
		}
	}
	//
	&--contactsItem_3 {
		@extend .header--contactsItem_1;
		//
		&::before {
			content: '';
			position: relative;
			top: 2px;
			left: -8px;
			display: inline-block;
			width: 12px;
			height: 12px;
			background: url(../img/sprite.png) no-repeat -71px 0;
		}
		//
		&::after {
			content: '';
		}
		//
		@media #{$lg} {
			margin-right: 0;
		}
	}
	//
	&--menuItem {
		display: inline-block;
		color: $color_2 !important;
		padding: 0 10px;
		text-align: center;
		background: #2c2c2c;
		border-bottom: 2px solid transparent;
		//
		@media #{$lg} {
			border-bottom: 4px solid transparent;
		}
		//
		&:hover {
			background: black;
			border-bottom: 2px solid $color_4;
			//
			@media #{$lg} {
				border-bottom: 4px solid $color_4;
			}
		}
		//
		@media (min-width: 1255px) {
			height: 41px;
		}
		@media #{$xl} {
			width: 180px;
		}
	}
}