header.header.js-animate.fadeIn
	.header--social.col-sm-3.col-lg-2.js-animate.fadeIn
		a.header--socialLink_1(href="https://www.instagram.com/100art_photography/" title="Мы в Instagram")
		a.header--socialLink_2(href="https://www.facebook.com/100photoart" title="Мы в Facebook")
		a.header--socialLink_3(href="https://vk.com/image.group.studio" title="Мы в Вконтакте")
	.header--contacts.col-sm-5.col-lg-7.js-animate.fadeIn(data-wow-delay="0.3s")
		.header--contactsItem_1 603115, Нижний Новгород, Студеная 68А
		.header--contactsItem_2 admin@100pcent.ru
		.header--contactsItem_3 8 831 421 55 88, +7 920 018 55 88 
	.header--menu.col-sm-4.col-lg-3.js-animate.fadeIn(data-wow-delay="0.6s")
		a.header--menuItem(href="#") Обратный звонок
		a.header--menuItem(href="#") Заказать услугу