main.banner.js-animate.fadeIn(data-wow-offset="100")

	//Begin breadcrumbs
	include ../breadcrumbs/breadcrumbs.jade
	//End breadcrumbs
				
	h2.banner--title.js-animate.fadeIn(data-wow-offset="100" data-wow-delay="0.2s")=bannerTitle
	.banner--text.js-animate.fadeIn(data-wow-offset="100" data-wow-delay="0.4s")=bannerText
	a(href="#").banner--link.js-animate.fadeIn(data-wow-offset="100" data-wow-delay="0.6s")=bannerLink