.banner {
	padding: 5px 0 50px 0;
	font-family: $font_2;
	color: $color_2;
	//
	@media #{$xl} {
		height: 556px;
	}
	//
	&--title {
		//
		@media #{$xl} {
			margin-top: 50px;
		}
	}
	//
	&--text {
		margin-top: 20px;
		font-weight: 300;
		max-width: 780px;
	}
	//
	&--link {
		margin-top: 20px;
		padding: 11px 50px;
		display: inline-block;
		outline: 1px solid $color_4 !important;
		color: $color_4 !important;
		//
		@media #{$xl} {
			margin-top: 30px;
		}
	}
}