.layout.layout-fluid.layout--banner
	.layout
		.banner
	
			//Begin breadcrumbs
			include ../breadcrumbs/breadcrumbs.jade
			//End breadcrumbs
				
			h2.banner--title О нас
			.banner--text.
				Жить на 100%! Создавать прекрасное. Вдохновлять. Все это и многое другое мы — фотостудия 100% ART. В нашем портфолио большой опыт работы с крупнейшими компаниями и печатными СМИ, а также сотрудничество с известными мировыми брендами. Мы проводим рекламные и персональные съемки, смело беремся за сложные задачи и создаем невероятные проекты. Вы привыкли работать только с профессионалами, выбирать лучшее и не боитесь смелых импровизаций? Тогда мы нашли друг друга. Мы не ищем примитивных путей. Мы привыкли впечатлять наших клиентов. Мы уверены, что сможем впечатлить и Вас!
			a(href="#").banner--link Подробнее