.logo {
	position: relative;
	padding-top: 5px;
	float: left;
	//
	@media #{$sm} {
		position: absolute;
		top: 6px;
	}
	//
	&--logoImg {
		//
		@media #{$sm} {
			margin-left: -5px;
			margin-right: 10px;
		}
	}
	//
	&--logoTitle {
		margin: 0;
		font-size: 14px;
		color: #3d3d3d;
		text-transform: none;
		//
		@media #{$sm} {
			position: relative;
			top: 5px;
			display: inline-block;
		}
	}
}