.logo
	a(href="aboutUs.html")
		img.logo--logoImg(src="blocks/header/img/logo.jpg", alt="Логотип").js-animate.pulse(data-wow-delay="0.9s")
		h1.logo--logoTitle.js-animate.fadeIn(data-wow-delay="1.2s") Photo and design studio