article.collectionLogo.row
	h2.collectionLogo--title Наши клиенты
	.collectionLogo--col.col-xs-6.col-sm-2
		a.collectionLogo--link(href="#" title="WorldClass")
			img.collectionLogo--img(src="blocks/collectionLogo/img/1.jpg", alt="Логотип")
	.collectionLogo--col.col-xs-6.col-sm-2
		a.collectionLogo--link(href="#" title="Винги")
			img.collectionLogo--img(src="blocks/collectionLogo/img/2.jpg", alt="Логотип")
	.collectionLogo--col.col-xs-6.col-sm-2
		a.collectionLogo--link(href="#" title="Билайн")
			img.collectionLogo--img(src="blocks/collectionLogo/img/3.jpg", alt="Логотип")
	.collectionLogo--col.col-xs-6.col-sm-2
		a.collectionLogo--link(href="#" title="Jolie")
			img.collectionLogo--img(src="blocks/collectionLogo/img/4.jpg", alt="Логотип")
	.collectionLogo--col.col-xs-6.col-sm-3
		a.collectionLogo--link(href="#" title="FASHION GALLERY")
			img.collectionLogo--img(src="blocks/collectionLogo/img/5.jpg", alt="Логотип")
	.collectionLogo--col.col-xs-6.col-sm-3
		a.collectionLogo--link(href="#" title="MANTRAC CAT")
			img.collectionLogo--img(src="blocks/collectionLogo/img/6.jpg", alt="Логотип")
	.collectionLogo--col.col-xs-6.col-sm-2
		a.collectionLogo--link(href="#" title="ОПТИКА CRONOS")
			img.collectionLogo--img(src="blocks/collectionLogo/img/7.jpg", alt="Логотип")
	.collectionLogo--col.col-xs-6.col-sm-2
		a.collectionLogo--link(href="#" title="ФизКульт")
			img.collectionLogo--img(src="blocks/collectionLogo/img/8.jpg", alt="Логотип")
	.collectionLogo--col.col-xs-6.col-sm-2
		a.collectionLogo--link(href="#" title="LOVE FOOD")
			img.collectionLogo--img(src="blocks/collectionLogo/img/9.jpg", alt="Логотип")
	.collectionLogo--col.col-xs-6.col-sm-2
		a.collectionLogo--link(href="#" title="Баскетбольный клуб Нижний Новгород")
					img.collectionLogo--img(src="blocks/collectionLogo/img/10.jpg", alt="Логотип")
	.collectionLogo--col.col-xs-6.col-sm-2
		a.collectionLogo--link(href="#" title="ELITE SPORT")
			img.collectionLogo--img(src="blocks/collectionLogo/img/11.jpg", alt="Логотип")
	.collectionLogo--col.col-xs-6.col-sm-2
		a.collectionLogo--link(href="#" title="РОМАНОВ СИНЕМА")
			img.collectionLogo--img(src="blocks/collectionLogo/img/12.jpg", alt="Логотип")
	.collectionLogo--col.col-xs-6.col-sm-2
		a.collectionLogo--link(href="#" title="ФК ВОЛГА")
			img.collectionLogo--img(src="blocks/collectionLogo/img/13.jpg", alt="Логотип")
	.collectionLogo--col.col-xs-6.col-sm-2
		a.collectionLogo--link(href="#" title="INTERMODA")
			img.collectionLogo--img(src="blocks/collectionLogo/img/14.jpg", alt="Логотип")
	.collectionLogo--col.col-xs-6.col-sm-2
		a.collectionLogo--link(href="#" title="Нижегородский водоканал")
			img.collectionLogo--img(src="blocks/collectionLogo/img/15.jpg", alt="Логотип")
	.collectionLogo--col.col-xs-6.col-sm-2
		a.collectionLogo--link(href="#" title="TOYOTA")
			img.collectionLogo--img(src="blocks/collectionLogo/img/16.jpg", alt="Логотип")
	.collectionLogo--col.col-xs-6.col-sm-2
		a.collectionLogo--link(href="#" title="GOLD'S FITNESS")
			img.collectionLogo--img(src="blocks/collectionLogo/img/17.jpg", alt="Логотип")
	.collectionLogo--col.col-xs-6.col-sm-2
		a.collectionLogo--link(href="#" title="Europa plus")
			img.collectionLogo--img(src="blocks/collectionLogo/img/18.jpg", alt="Логотип")
	.collectionLogo--col.col-xs-6.col-sm-2
		a.collectionLogo--link(href="#" title="ОРМАТЕК")
			img.collectionLogo--img(src="blocks/collectionLogo/img/19.jpg", alt="Логотип")
	.collectionLogo--col.col-xs-6.col-sm-2
		a.collectionLogo--link(href="#" title="Серебряный дождь")
			img.collectionLogo--img(src="blocks/collectionLogo/img/20.jpg", alt="Логотип")
	.collectionLogo--col.col-xs-6.col-sm-2
		a.collectionLogo--link(href="#" title="САРОВА")
			img.collectionLogo--img(src="blocks/collectionLogo/img/21.jpg", alt="Логотип")
	.collectionLogo--col.col-xs-6.col-sm-2
		a.collectionLogo--link(href="#" title="Power style")
			img.collectionLogo--img(src="blocks/collectionLogo/img/22.jpg", alt="Логотип")