@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto:300,400|Ubuntu:300&subset=cyrillic');
html,
body {
	height: 100%;
	font-family: $font_1;
	font-size: 85%;
	line-height: 1.5rem;
	color: $color_1;
	margin: 0;
	//
	@media #{$sm} {
		font-size: 90%;
	}
	@media #{$lg} {
		font-size: 100%;
	}
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $font_2;
	font-weight: 300;
	line-height: 2.5rem;
}

h2 {
	margin: 15px 0 15px 0;
	text-align: center;
	font-size: 1.6rem;
	//
	@media #{$lg} {
		margin: 30px 0 15px 0;
		font-size: 2.3rem;
	}
	@media #{$xl} {
		margin: 50px 0 25px 0;
		font-size: 2.5rem;
	}
}

a {
	text-decoration: none !important;
	text-transform: uppercase;
}

.text {
	text-align: center;
	//
	p {
		margin: 0 auto;
		font-family: $font_2;
		font-weight: 300;
		line-height: 2rem;
		//
		@media #{$md} {
			max-width: 50%;
		}
	}
	sup {
		font-size: 1.5rem;
	}
}

.row {
	margin: 0;
	padding: 0;
}

.black {
	background: black;
}