@charset "UTF-8";
// Default Variables
// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"
$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;
@function slick-image-url($url) {
	@if function-exists(image-url) {
		@return image-url($url);
	}
	@else {
		@return url($slick-loader-path + $url);
	}
}

@function slick-font-url($url) {
	@if function-exists(font-url) {
		@return font-url($url);
	}
	@else {
		@return url($slick-font-path + $url);
	}
}


/* Slider */

.slick-list {
	.slick-loading & {
		background: #fff slick-image-url("../img/ajax-loader.gif") center center no-repeat;
	}
}


/* Arrows */

.slick-prev,
.slick-next {
	position: absolute;
	z-index: 50;
	display: block;
	width: 25px;
	height: 25px;
	line-height: 0px;
	font-size: 0px;
	cursor: pointer;
	background: transparent;
	color: transparent;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	padding: 0;
	border: none;
	outline: none;
	&.slick-disabled:before {
		opacity: $slick-opacity-not-active;
	}
	&:before {
		font-family: $slick-font-family;
		font-size: 20px;
		line-height: 1;
		color: $slick-arrow-color;
		opacity: $slick-opacity-default;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	//
	@media #{$lg} {
		height: 56px;
		width: 56px;
	}
}

.slick-prev {
	top: 50px;
	right: 0;
	background: url(../img/sprite.png) no-repeat 0 -88px;
	transform: rotate(180deg);
	//
	&:hover {
		background-position: -25px -88px;
	}
	//
	@media #{$lg} {
		top: 80px;
		right: -90px;
		background-position: 0 -32px;
		//
		&:hover {
			background-position: -56px -32px;
		}
	}
}

.slick-next {
	top: 25px;
	right: 0;
	background: url(../img/sprite.png) no-repeat 0 -88px;
	//
	&:hover {
		background-position: -25px -88px;
	}
	//
	@media #{$lg} {
		top: 25px;
		right: -90px;
		background-position: 0 -32px;
		//
		&:hover {
			background-position: -56px -32px;
		}
	}
}

.sliderReviews--slider .slick-prev {
	top: 41%;
	left: 0;
}

.sliderReviews--slider .slick-next {
	top: 48%;
	right: 0;
}

.sliderPreview--slider .slick-prev {
	top: 52%;
	left: 2%;
	opacity: 0.4;
	//
	&:hover {
		opacity: 1;
	}
}

.sliderPreview--slider .slick-next {
	top: 55%;
	right: 2%;
	opacity: 0.4;
	//
	&:hover {
		opacity: 1;
	}
}