$xs:'(min-width: 480px)';
$sm: '(min-width: 768px)';
$md: '(min-width: 992px)';
$lg: '(min-width: 1200px)';
$xl: '(min-width: 1500px)';
$font_1: 'Open Sans';
$font_2: Roboto;
$font_3: Ubuntu;
$color_1: black;
$colorGrey: #e7e7ef;
$colorGrey_2: #f1f1f1;  
$color_2: #d4d4d4;
$color_3: #2c2c2c;
$color_4: #00d5e5;
$color_5: #e0e4e3;
$sprite: url(../img/sprite.png);