.layout {
	position: relative;
	min-width: 320px;
	max-width: 1560px;
	margin: 0 auto;
	padding: 0 15px;
	//
	&:before,
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
	//
	&-fluid {
		position: relative;
		min-width: 320px;
		max-width: 100%;
		padding: 0;
	}
	//
	&-main {
		height: 100%;
	}
	//
	&-content {
		min-height: 100%;
	}
	//
	&-fixed {
		//
		&-active {
			position: fixed;
			width: 100%;
			padding: 0;
			top: 0;
			z-index: 100;
			background: white;
		}
	}
	//
	&-bg {
		//
		&-black {
			background: $color_1;
		}
		&-grey {
			background: $colorGrey;
		}
		&-grey_2 {
			background: $colorGrey_2;
		}
	}
	//
	&-border {
		//
		&-bottom {
			border-bottom: 1px solid $color_5;
		}
	}
	//
	/* Элементы */
	//
	&--banner {
		background: url(../../blocks/banner/img/banner.jpg);
		background-size: cover;
	}
	//
	&--breadcrumbs {
		margin-top: 15px;
		//
		@media #{$sm} {
			margin-top: 25px;
		}
		@media #{$xl} {
			margin-top: 60px;
		}
	}
	&--section {
		//
		@media #{$lg} {
			height: 656px;
		}
	}
	//
	&--button {
		margin: 0 auto;
		margin-top: 39px;
		margin-bottom: 50px;
		//
		@media #{$lg} {
			margin-bottom: 100px;
		}
		@media #{$xl} {
			margin-bottom: 150px;
		}
	}
	//
	&--footer {
		padding: 10px 0;
		//
		@media #{$lg} {
			padding: 25px 0;
		}
		@media #{$xl} {
			padding: 50px 0;
		}
	}
	&--band {
		margin-top: 50px;
		@media #{$xl} {
			margin-top: 140px;
		}
	}
	&--collectionLogo {
		margin-top: 50px;
		@media #{$xl} {
			margin-top: 150px;
		}
	}
	&--pagination {
		margin: 50px auto 80px auto;
	}
}