.layout
	article.sliderReviews
		h2.sliderReviews--title Отзывы клиентов
		.sliderReviews--slider.js-sliderReviews--slider
			.sliderReviews--slide
			img.sliderReviews--img(src="blocks/sliderReviews/img/1.jpg", alt="Слайд")
			.sliderReviews--name Милена Иванова
			.sliderReviews--profession Ландшафтный дизайнер
			.sliderReviews--review.
				Это так здорово! Квартиру нашли быстро, в хорошем районе. Провели все проверки и предоставили подробный отчет. Все необходимые документы собрали без меня. От меня потребовалось лишь минимальное участие
			.sliderReviews--slide
				img.sliderReviews--img(src="blocks/sliderReviews/img/2.jpg", alt="Слайд")
				.sliderReviews--name Юлия Данилова
				.sliderReviews--profession Ландшафтный дизайнер
				.sliderReviews--review.
					Это так здорово! Квартиру нашли быстро, в хорошем районе. Провели все проверки и предоставили подробный отчет. Все необходимые документы собрали без меня. От меня потребовалось лишь минимальное участие
			.sliderReviews--slide
				img.sliderReviews--img(src="blocks/sliderReviews/img/3.jpg", alt="Слайд")
				.sliderReviews--name Екатерина Брыкина
				.sliderReviews--profession Ландшафтный дизайн
				.sliderReviews--review.
					Это так здорово! Квартиру нашли быстро, в хорошем районе. Провели все проверки и предоставили подробный отчет. Все необходимые документы собрали без меня. От меня потребовалось лишь минимальное участие
			.sliderReviews--slide
				img.sliderReviews--img(src="blocks/sliderReviews/img/3.jpg", alt="Слайд")
				.sliderReviews--name Екатерина Брыкина
				.sliderReviews--profession Ландшафтный дизайн
				.slidreReviews--review.
					Это так здорово! Квартиру нашли быстро, в хорошем районе. Провели все проверки и предоставили подробный отчет. Все необходимые документы собрали без меня. От меня потребовалось лишь минимальное участие