.sliderReviews {
	text-align: center;
	padding-top: 20px;
	cursor: default;
	//
	@media #{$xl} {
		padding-top: 88px;
	}
	//
	&--img {
		display: inline-block !important;
		margin-top: 40px;
	}
	//
	&--name {
		margin-top: 28px;
		font-size: 1.1rem;
		font-weight: bold;
	}
	//
	&--profession {
		font-family: $font_3;
		font-size: 0.7rem;
		color: #606372;
	}
	//
	&--review {
		margin: 15px auto;
		max-width: 380px;
	}
}