.pagination.layout--pagination
	a.pagination--prev(href="#")
	a.pagination--number(href="#") 1
	.pagination--number.pagination--number-active 2
	a.pagination--number(href="#") 3
	a.pagination--next(href="#")