.band {
	padding-bottom: 25px;
	text-align: center;
	font-family: $font_2;
	//
	@media #{$sm} {
		text-align: left;
	}
	@media #{$xl} {
		padding-top: 35px;
		padding-bottom: 130px;
	}
	//
	&--img {
		margin-top: 30px;
		max-width: 100%;
		height: auto;
		//
		@media #{$xl} {
			margin-top: 60px;
		}
	}
	//
	&--name {
		font-size: 1.2rem;
		font-weight: 400;
		margin-top: 10px;
		//
		@media #{$xl} {
			font-size: 1.5rem;
			margin-top: 30px;
		}
	}
	//
	&--profession {
		font-weight: 300;
		//
		@media #{$xl} {
			margin-top: 10px;
		}
	}
}