article.band.row.js-animate.fadeIn(data-wow-offset="100")
	h2.band--title Наши специалисты
	.band--col.col-sm-3.js-animate.fadeIn(data-wow-offset="100" data-wow-delay="0.2s")
		img.band--img(src="blocks/band/img/1.jpg", alt="Фотография")
		.band--name Christina Pekun
		.band--profession Визажист
	.band--col.col-sm-3.js-animate.fadeIn(data-wow-offset="100" data-wow-delay="0.4s")
		img.band--img(src="blocks/band/img/2.jpg", alt="Фотография")
		.band--name Naska Pershina
		.band--profession Фотограф
	.band--col.col-sm-3.js-animate.fadeIn(data-wow-offset="100" data-wow-delay="0.6s")
		img.band--img(src="blocks/band/img/3.jpg", alt="Фотография")
		.band--name Екатерина Большакова
		.band--profession Фотограф
	.band--col.col-sm-3.js-animate.fadeIn(data-wow-offset="100" data-wow-delay="0.8s")
		img.band--img(src="blocks/band/img/4.jpg", alt="Фотография")
		.band--name Николай Попов
		.band--profession Фотограф