nav.nav.col-sm-12.js-animate.fadeInDown(data-wow-delay="1.8s")
	h2.nav--serviceTitle Navigation
	input(type="checkbox" id="nav--button")
	label.nav--button(for="nav--button")
	ul.nav--menu
		li.nav--menuItem
			a.nav--menuLink(href="#") О нас
		li.nav--menuItem.nav--menuCallSubmenu.js-nav--menuCallSubmenu
			a.nav--menuLink(href="#") Портфолио
			ul.nav--submenu
				li.nav--menuItem
					a.nav--menuLink(href="#") BEAUTI
				li.nav--menuItem
					a.nav--menuLink(href="#") FASHION
				li.nav--menuItem
					a.nav--menuLink(href="#") Рекламная съемка
				li.nav--menuItem
					a.nav--menuLink(href="#") Модельные тесты
				li.nav--menuItem
					a.nav--menuLink(href="#") Персональная съемка
				li.nav--menuItem
					a.nav--menuLink(href="#") Уличная съемка
				li.nav--menuItem
					a.nav--menuLink(href="#") Детская съемка
				li.nav--menuItem
					a.nav--menuLink(href="#") Семейная съемка
				li.nav--menuItem
					a.nav--menuLink(href="#") Беременные
				li.nav--menuItem
					a.nav--menuLink(href="#") Свадебная съемка
				li.nav--menuItem
					a.nav--menuLink(href="#") Каталожная съемка
				li.nav--menuItem
					a.nav--menuLink(href="#") Меню
				li.nav--menuItem
					a.nav--menuLink(href="#") Интерьер & экстерьер
				li.nav--menuItem
					a.nav--menuLink(href="#") Предметная съемка
				li.nav--menuItem
					a.nav--menuLink(href="#") Публикации
				li.nav--menuItem
					a.nav--menuLink(href="#") Знаменитости
				li.nav--menuItem
					a.nav--menuLink(href="#") Видеосъемка
				li.nav--menuItem
					a.nav--menuLink(href="#") Love story
				li.nav--menuItem
					a.nav--menuLink(href="#") Бизнес-портрет
		li.nav--menuItem
			a.nav--menuLink(href="#") Дизайн интерьера
		li.nav--menuItem
			a.nav--menuLink(href="#") Видео
		li.nav--menuItem
			a.nav--menuLink(href="#") Новости
		li.nav--menuItem
			a.nav--menuLink(href="#") Цены
		li.nav--menuItem
			a.nav--menuLink(href="#") Контакты