main.calcForm.layout--calcForm.js-animate.fadeIn(data-wow-offset="100")
	h2.calcForm--title Расчет стоимости
	.calcForm--row.row
		form.calcForm--form.col-lg-4.js-animate.fadeIn(data-wow-offset="100" data-wow-delay="0.3s")
			.calcForm--inputTitle Вид работы
			select.calcForm--input.js-calcForm--input(name="Вид работы")
				option(value="Портретная съемка" data-path="blocks/calcForm/img/1.jpg") BEUATI
				option(value="Портретная съемка" data-path="blocks/calcForm/img/2.jpg") FASHION
				option(value="Портретная съемка" data-path="blocks/calcForm/img/3.jpg") Рекламная съемка
				option(value="Портретная съемка" data-path="blocks/calcForm/img/4.jpg") Модельные тесты
				option(value="Портретная съемка" data-path="blocks/calcForm/img/5.jpg") Персональная съемка
				option(value="Портретная съемка" data-path="blocks/calcForm/img/6.jpg") Уличная съемка
				option(value="Портретная съемка" data-path="blocks/calcForm/img/7.jpg") Детская съемка
				option(value="Портретная съемка" data-path="blocks/calcForm/img/8.jpg") Семейнкая съемка
				option(value="Портретная съемка" data-path="blocks/calcForm/img/9.jpg") Беременные
				option(value="Портретная съемка" data-path="blocks/calcForm/img/10.jpg") Свадебная съемка
				option(value="Портретная съемка" data-path="blocks/calcForm/img/11.jpg") Каталожная съемка
				option(value="Портретная съемка" data-path="blocks/calcForm/img/12.jpg") Меню
				option(value="Портретная съемка" data-path="blocks/calcForm/img/13.jpg") Интерьер & экстерьер
				option(value="Портретная съемка" data-path="blocks/calcForm/img/14.jpg") Предметная съемка
				option(value="Портретная съемка" data-path="blocks/calcForm/img/15.jpg") Публикации
				option(value="Портретная съемка" data-path="blocks/calcForm/img/16.jpg") Знаменитости
				option(value="Портретная съемка" data-path="blocks/calcForm/img/17.jpg") Видеосъемка
				option(value="Портретная съемка" data-path="blocks/calcForm/img/18.jpg") Love story
				option(value="Портретная съемка" data-path="blocks/calcForm/img/19.jpg") Бизнес-портрет
			.calcForm--inputTitle Количество часов
			input.calcForm--input.calcForm--input-small(type="number" required)
			.calcForm--annotation 30 мин = 10 обработанных фото + легкая ретушь
			.calcForm--inputTitle Место съемки
			.calcForm--group
				select.calcForm--input(name="Место съемки")
					option(value="В студии") В студии
					option(value="Дома") Дома
				.calcForm--surcharge_1 +0 &#8381;
			.calcForm--inputTitle Макияж, количество человек
			.calcForm--group
				input.calcForm--input(type="number" required)
				.calcForm--surcharge_2 +5 000 &#8381;
			.calcForm--inputTitle Укладка, количество человек
			.calcForm--group
				input.calcForm--input(type="number" required)
				.calcForm--surcharge_3 +5 000 &#8381;
			.calcForm--wrapper
				.calcForm--total Итого
				.calcForm--sum 10 000 &#8381;
			input.calcForm--submit(type="submit" value="Заказать услугу")
		.calcForm--col.js-calcForm--col.col-lg-8.js-animate.fadeIn(data-wow-offset="100" data-wow-delay="0.3s")
			img.calcForm--img(src="blocks/calcForm/img/1.jpg", alt="Фотография")