section.videoContent_2.js-animate.fadeIn(data-wow-offset="100")
	h2.videoContent_2--title Съемочная группа
	.videoContent_2--list.col-sm-8
		ul.videoContent_2--ul
			li.videoContent_2--li Stylist - Mark John Tripp
			li.videoContent_2--li Beauty - Richard J
			li.videoContent_2--li Model - Naro Lokuruka
			li.videoContent_2--li Stylist - Mark John Tripp
			li.videoContent_2--li Beauty - Richard J
			li.videoContent_2--li Model - Naro Lokuruka
			li.videoContent_2--li Stylist - Mark John Tripp
			li.videoContent_2--li Beauty - Richard J
			li.videoContent_2--li Model - Naro Lokuruka

	//Begin slider
	include ../slider/slider.jade
	//End slider