.column {
	font-family: $font_2;
	text-align: center;
	//
	&-rent {
		//
		.column--colTitle {
			max-width: 300px;
			font-size: 1.2rem;
			line-height: 1.4rem;
			//
			@media #{$xl} {
				font-size: 1.5rem;
				margin-bottom: 60px;
			}
			//
			&::before {
				background-position: -135px -209px;
				//
				@media #{$lg} {
					background-position: -279px -113px;
				}
			}
		}
		//
		.column--colTitle-2 {
			//
			&::before {
				background-position: -180px -209px;
				//
				@media #{$lg} {
					background-position: -372px -113px;
				}
			}
		}
		//
		.column--colTitle-3 {
			//
			&::before {
				background-position: -225px -209px;
				//
				@media #{$lg} {
					background-position: -465px -113px;
				}
			}
		}
		//
		.column--colTitle-4 {
			display: block;
			//
			&::before {
				background-position: -270px -209px;
				//
				@media #{$lg} {
					background-position: -558px -113px;
				}
			}
		}
		//
		.column--text {
			display: none;
		}
	}
	//
	&--title {
		margin-top: 25px;
		//
		@media #{$lg} {
			margin-top: 50px;
		}
		@media #{$xl} {
			margin-top: 80px;
		}
	}
	&--colTitle {
		font-weight: 400;
		font-size: 1.3rem;
		padding: 0 25px;
		margin: 15px auto;
		//
		@media #{$lg} {
			font-size: 1.5rem;
		}
		//
		&::before {
			content: '';
			display: table;
			margin: 20px auto 5px auto;
			width: 45px;
			height: 45px;
			background: $sprite 0 -209px;
			//
			@media #{$sm} {
				margin: 15px auto;
			}
			@media #{$lg} {
				margin: 35px auto 20px auto;
				width: 93px;
				height: 93px;
				margin: 55px auto 40px auto;
				background-position: 0 -115px;
			}
		}
		//
		&-2 {
			//
			&::before {
				background-position: -45px -209px;
				//
				@media #{$lg} {
					width: 93px;
					height: 93px;
					background-position: -93px -115px;
				}
			}
		}
		//
		&-3 {
			//
			&::before {
				background-position: -90px -209px;
				//
				@media #{$lg} {
					width: 93px;
					height: 93px;
					background-position: -93px -115px;
				}
			}
		}
		&-4 {
			display: none;
		}
	}
	&--text {
		margin: 10px auto;
		max-width: 380px;
		font-weight: 300;
	}
}