.column {
	font-family: $font_2;
	text-align: center;
	//
	&--title {
		margin-top: 25px;
		//
		@media #{$lg} {
			margin-top: 50px;
		}
		@media #{$xl} {
			margin-top: 80px;
		}
	}
	&--colTitle {
		font-weight: 400;
		font-size: 1.5rem;
		padding: 0 25px;
		//
		&::before {
			content: '';
			display: table;
			margin: 15px auto;
			width: 45px;
			height: 45px;
			background: $sprite 0 -206px;
			//
			@media #{$lg} {
				margin: 35px auto 20px auto;
			}
			@media #{$xl} {
				width: 93px;
				height: 93px;
				margin: 69px auto 40px auto;
				background-position: 0 -113px;
			}
		}
		//
		&-2 {
			//
			&::before {
				background-position: -45px -206px;
				//
				@media #{$xl} {
					width: 93px;
					height: 93px;
					background-position: -93px -113px;
				}
			}
		}
		//
		&-3 {
			//
			&::before {
				background-position: -90px -206px;
				//
				@media #{$xl} {
					width: 93px;
					height: 93px;
					background-position: -93px -113px;
				}
			}
		}
	}
	&--text {
		margin: 10px auto;
		max-width: 380px;
		font-weight: 300;
	}
}