.layoutFluid.layoutFluid-bg-black.layoutFluid-footer.js-animate.fadeIn(data-wow-offset="100")
	.layout
		footer.footer
			.footer--col_1.col-sm-4.js-animate.fadeIn(data-wow-delay="0.4s")
				img.footer--logo(src="blocks/footer/img/logo.jpg", alt="Логотип")
				.footer--phone +7(831)421 55 88 
					div +7(920)018 55 88
				.footer--adress 603105, Нижний Новгород,
					div ул. Студёная, д. 68 "А"
				.footer--email admin@100pcent.ru
			.footer--col_2.col-sm-6.js-animate.fadeIn(data-wow-delay="0.8s")
				.footer--menuWrapper
					ul.footer--menu
						li.footer--menuItem
							a.footer--menuLink(href="#") О нас
						li.footer--menuItem
							a.footer--menuLink(href="#") Фотосъёмка
						li.footer--menuItem
							a.footer--menuLink(href="#") Видесъёмка
						li.footer--menuItem
							a.footer--menuLink(href="#")  Дизайн интерьера
						li.footer--menuItem
							a.footer--menuLink(href="#") Аренда фотостудии
						li.footer--menuItem
							a.footer--menuLink(href="#") Новости
						li.footer--menuItem
							a.footer--menuLink(href="#") Цены
						li.footer--menuItem
							a.footer--menuLink(href="#") Контакты
			.footer--col_3.col-sm-2.js-animate.fadeIn(data-wow-delay="1.2s")
				.footer--copyright Фотостудия 100%ART
					div &copy; 2015-2017
				.footer--Rtop Продвижение: Rtop
				img.footer--metrika(src="blocks/footer/img/metrika.jpg", alt="Метрика")
	