.footer {
	font: 0.8rem $font_2;

	color: white;

	//
	&--col_1,
	&--col_2 {
		padding: 0;
		//
		@media #{$xs} and (max-width: 768px) {
			float: left;
			width: 50%;
		}
	}
	//
	&--col_3 {
		padding: 0;
		//
		@media #{$xs} and (max-width: 768px) {
			padding-top: 10px;
			clear: both;
		}
	}
	//
	&--logo {
		display: table;
		margin: 10px auto;
		//
		@media #{$sm} {
			display: block;
			margin: 10px 0 0 0;
		}
	}
	//
	&--phone,
	&--adress,
	&--email,
	&--menuWrapper,
	&--copyright,
	&--Rtop,
	&--metrika {
		@extend .footer--logo;
	}
	//
	&--menuWrapper {
		margin-top: 15px;
		//
		@media #{$lg} {
			width: 420px;
			margin-left: 100px;
		}
	}
	//
	&--copyright,
	&--Rtop,
	&--metrika {
		//
		@media #{$sm} {
			margin-top: 30px;
			text-align: right;
		}
	}
	//
	&--metrika {
		//
		@media #{$sm} {
			float: right;
		}
	}
	&--phone {
		//
		&::before {
			content: '';
			display: inline-block;
			width: 11px;
			height: 11px;
			margin-right: 10px;
			background: url(../img/sprite.png) no-repeat -82px 0;
		}
		//
		div {
			margin: 3px 0 0 20px;
		}
	}
	//
	&--adress {
		//
		&::before {
			content: '';
			display: inline-block;
			width: 8px;
			height: 12px;
			margin-right: 10px;
			background: url(../img/sprite.png) no-repeat -94px 0;
		}
		//
		div {
			margin: 3px 0 0 20px;
		}
	}
	//
	&--email {
		//
		&::before {
			content: '';
			display: inline-block;
			width: 13px;
			height: 11px;
			margin-right: 10px;
			background: url(../img/sprite.png) no-repeat -102px 0;
		}
	}
	//
	&--menu {
		-moz-column-count: 2;
		column-count: 2;
		padding: 0;
		list-style: none;
		//
		@media #{$lg} {
			-moz-column-gap: 125px;
			column-gap: 125px;
		}
	}
	//
	&--menuItem {
		margin-top: 15px;
		//
		&:first-child {
			margin-top: 0; //для Firefox
		}
	}
	//
	&--menuLink {
		color: white !important;
		transition: .5s;
		//
		&:hover {
			color: $color_4 !important;
		}
	}
}