.slider.js-slider.section--slider.col-sm-10.js-animate.fadeInLeft(data-wow-offset="100")
	img.slider--img.img-responsive(src="blocks/slider/img/slide_1.jpg", alt="Слайд")
	img.slider--img.img-responsive(src="blocks/slider/img/slide_1.jpg", alt="Слайд")

