.slider.js-slider.section--slider.col-sm-10
	img.slider--img.img-responsive(src="blocks/slider/img/slide_1.jpg", alt="Слайд")
	img.slider--img.img-responsive(src="blocks/slider/img/slide_1.jpg", alt="Слайд")

