section.section.js-animate.fadeIn(data-wow-offset="100")
	.layoutFluid.layoutFluid-bg-black.layoutFluid-section
		.layout
			h2.section--title Съемочная группа
			.section--list.col-sm-8
				ul.section--ul
					li.section--li Stylist - Mark John Tripp
					li.section--li Beauty - Richard J
					li.section--li Model - Naro Lokuruka
					li.section--li Stylist - Mark John Tripp
					li.section--li Beauty - Richard J
					li.section--li Model - Naro Lokuruka
					li.section--li Stylist - Mark John Tripp
					li.section--li Beauty - Richard J
					li.section--li Model - Naro Lokuruka
		
			//Begin slider
			include ../slider/slider.jade
			//End slider