.button {
	display: block;
	width: 250px;
	height: 45px;
	line-height: 45px;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background: $color_4;
	cursor: pointer;
	transition: .5s;
	//
	@media #{$lg} {
		width: 395px;
		height: 71px;
		line-height: 71px;
	}
	//
	&:hover {
		outline: 2px solid $color_4;
		background: transparent;
	}
}