.menu.row.js-animate.fadeIn(data-wow-offset="100")
	.menu--item.col-sm-4.col-lg-1
		a.menu--link(href="#") PR фильмы
	.menu--item.col-sm-4.col-lg-3
		a.menu--link(href="#") Музыкальные видеоклипы
	.menu--item.col-sm-4.col-lg-2
		a.menu--link(href="#") Видеоконструкции
	.menu--item.col-sm-4.col-lg-3
		a.menu--link(href="#") Рекламные видеоролики
	.menu--item.col-sm-4.col-lg-2
		a.menu--link(href="#") 3Д/2Д графика
	.menu--item.col-sm-4.col-lg-1
		a.menu--link(href="#") Сроки/цены