.menu.row.js-animate.fadeIn(data-wow-offset="100")
	.menu--item.col-sm-4.col-lg-1
		a.menu--link(href="videoShoot-inner.html") PR фильмы
	.menu--item.col-sm-4.col-lg-3
		a.menu--link(href="videoShoot-inner.html") Музыкальные видеоклипы
	.menu--item.col-sm-4.col-lg-2
		a.menu--link(href="videoShoot-inner.html") Видеоконструкции
	.menu--item.col-sm-4.col-lg-3
		a.menu--link(href="videoShoot-inner.html") Рекламные видеоролики
	.menu--item.col-sm-4.col-lg-2
		a.menu--link(href="videoShoot-inner.html") 3Д/2Д графика
	.menu--item.col-sm-4.col-lg-1
		a.menu--link(href="videoShoot-inner.html") Сроки/цены